@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@400;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif SC", ui-serif, Georgia, serif;
  --font-handwriting: "Ma Shan Zheng", cursive;
}

body {
  background-color: #fffafb;
  color: #4a3f3f;
}
